/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$pri-text-color: #333;
$hover-text-color: #fff;
//  Navigation

nav {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: transparent;
  margin-left: 60%;
  padding: 10px;
  width: 30%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  li {
    margin: 0;
  }

  a {
    color: $pri-text-color;
    text-decoration: none;
    padding: 10px;
  }

  a:hover {
    background-color: $pri-text-color;
    color: $hover-text-color;
  }
}

.recipe-description-text {
  text-decoration: none;
  text-align: center;
}

.recipe-container-link {
  text-decoration: none;
  color: black;
  padding: 10px 50px;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recipe-container {
  border: 3px solid black;
  padding-bottom: 20px;
}

.recipe-del-btn {
  margin-left: 70px;
}